<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <% if user.profile_picture.attached? %>
    <%= image_tag user.profile_picture %>
  <% else %>
    <%= image_tag "default_avatar.png" %>
  <% end %>
</div>
